<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HTML>
        <style type="text/css">
    header {
        background-color:black;
    display:block;
	text-align:center;
    overflow:hidden;
    }
	
	input
{
   
   text-align : center;
   border: 0px solid;
   height:25px;
   width:235px;
}

.texbox {
border-color : black;
}

form 
{
text-align : center;
align: center;
}

   
</style>
    <header>
       <H1><font color="white"> Un Momento por favor ... </font></H1>
	  
   <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
         <script type="text/javascript">
    // Enable pusher logging - don't include this in production
   
    
    var pusher = new Pusher('8ab69fb95f1656821b78');
    var channel = pusher.subscribe('test_channel');
	
	 
     channel.bind('my_event', function(data) {
	  
	   
      document.write(data.message);
	  document.write("</br>");
	  document.write("</br>");
	  document.write(data.message1);
	  document.write("</br>");
	  document.write("</br>");
	  document.write(data.message2);
	  document.write("</br>");
	  document.write("</br>");
	  document.write(data.message3);
	  document.write("</br>");
	  document.write("</br>");
	    document.write("_______________________________________________________________________________________________");
		document.write("</br>");

	 
    }); 

	

	
  </script>
  
    </header>
    <BODY>
    </BODY>
</HTML>
