<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HTML>
    <HEAD>
       <H1> Busqueda </H1>
    </HEAD>
    <BODY>
  
	    {% if nombre_producto %}
	    {% if enlace %}
	    {% if monto %}
		<table style="width:100%">
		<tr>
		   <td> Nombre del Producto </td>
		   <td> Precio </td>
		   <td> Tienda </td>
		   <td> Enlace </td>
		 </tr>
		 <tr>
		    <td>  {{nombre_producto}} </td>
			<td> {{monto}} </td>
			<td> Mercado Libre </td>
			
			
			<td> {{enlace}} </td>
		 </tr>
			
			
			
		</table>
		{% endif %}
        {% endif %}
		{% endif %}
	
    </BODY>
</HTML>
