<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HTML>
    <style type="text/css">
    header {
        background-color:black;
    display:block;
	text-align:center;
    overflow:hidden;
    }
	
	input
{
   
   text-align : center;
   border: 0px solid;
   height:25px;
   width:235px;
}

.texbox {
border-color : black;
}

form 
{
text-align : center;
align: center;
}

   
</style>
    <header>
       <H1> <font color="white"> Busqueda Compartida </font></H1>
    </header>
    <BODY>
	 <div>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</div>
	 <table border=2>
	 <tr bgcolor = "black" >
	     <td > <font color= "white"> Nombre del Producto </font> </td>
		 <td> <font color = "white"> Precio </font> </td>
		 <td> <font color = "white"> Tienda </font> </td>
		 <td> <font color = "white"> Enlace  </font> </td>
	 </tr>
	 {% for venta in ventas %}
	 <tr bgcolor = "white" font color = "black" >
	     <td> {{venta.idProducto.nombreProducto}} </td>
		 <td> {{venta.precio}} </td>
		 <td> {{venta.idTienda.nombreTienda}} </td>
		 <td> {{venta.direccion}} </td>
	 </tr>
	 {% endfor %}
	 </table>
    </BODY>
</HTML>
