<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HTML>
    <HEAD>
       <H1> Busqueda Compartida </H1>
    </HEAD>
    <BODY>
	 <table border=2>
	 <tr bgcolor = "black" >
	     <td > <font color "white"> Nombre del Producto </font> </td>
		 <td> <font color = "white"> Precio </font> </td>
		 <td> <font color = "white"> Tienda </font> </td>
		 <td> <font color = "white"> Enlace  </font> </td>
	 </tr>
	 {% for venta in ventas %}
	 <tr bgcolor = "white" font color = "black" >
	     <td> {{venta.idProducto.nombreProducto}} </td>
		 <td> {{venta.precio}} </td>
		 <td> {{venta.idTienda.nombreTienda}} </td>
		 <td> {{venta.direccion}} </td>
	 </tr>
	 {% endfor %}
	 </table>
    </BODY>
</HTML>
