<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HTML>
    <HEAD>
       <H1> Bienvenido a su Comparador de Precios. Aqui podra comparar precios de sus 
            productos favoritos en diferentes tiendas </H1>
    </HEAD>
    <BODY>
    <form action="/buscar/" method="post">
    <P> Por favor introduzca el nombre del producto a buscar:</p>
    <input type="text" name="nombre" value=""> <br>  Nombre del Producto: <br>
    <input type="submit" value"Enviar"> 
    </form>
    </BODY>
</HTML>
