<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HTML>
    <style type="text/css">
    header {
        background-color:black;
    display:block;
	text-align:center;
    overflow:hidden;
    }
	
	input
{
   
   text-align : center;
   border: 0px solid;
   height:25px;
   width:235px;
}

.texbox {
border-color : black;
}

form 
{
text-align : center;
align: center;
}

#banner {
    width: 1em 3em;
    margin: 1em 25%;
}

   
</style>
    <header>
	    <H1 >  <font color = "white">  STORE COMPARATOR - Su Comparador de Precios en la Web </font> </H1>
       <H3> <font color = "white"> Bienvenido a su Comparador de Precios. Aqui podr&aacute comparar precios de sus 
            productos favoritos en diferentes tiendas </font> </H3>
    </header>
    <BODY>
	<div>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</div>
    <form action="/recibir_parametro/" method="post">
    <h3> Por favor introduzca el nombre del producto a buscar:</h3>
    <input class="texbox" type="text" name="nombre" value="" border=2> 
    <input type="submit" value"Enviar"> 
    </form>
    </br>
    </br>
    </br>
    </br>
    <div id="banner">
    <img  src="http://www.diariopyme.cl/prontus_diariopyme/site/artic/20130816/imag/foto_0000000120130816095042.jpg">
    </div>
    </BODY>
</HTML>
